# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Build output
build/
DerivedData/
*.o
*.d

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
